body {
    &.page-template-page-full {
        #main {
            max-width: 100%;
        }
    }

    /* If WP-Adminbar is visible */
    &.admin-bar {
        #header.fixed-top {
            top: var(--wp-admin--admin-bar--height);
        }

        .edit-link a {
            color: #fff !important;
            font-weight: normal !important;
            text-decoration: none !important;

            &::before {
                content: '\270E';
                display: inline-block;
                margin-right: 5px;
            }
        }
    }
}

img {
    vertical-align: middle;
}